@model PetManagement.ViewModels.USER_INFO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/PublicStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap4-btn.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/windowAlert.css" rel="stylesheet" />
<link href="~/Content/Stock.css" rel="stylesheet" />

<div class="modal-header">
</div>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <body class="loginBody">
        <div id="signUp_form" class="textForm">
            <!-- 註冊 -->
            <h2 style="color: #0cc78c ">註 冊</h2>
            <form action="#" class="form" id="form1">
                <div class="input">
                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control", placeholder = "姓名" })
                </div>

                <input type="email" placeholder="Email" class="input" style="margin-top: 10px" /><br />
                <input type="password" placeholder="密碼" class="input" style="margin-top: 10px" /><br />
                <input type="text" placeholder="密碼" class="input" style="margin-top: 10px" /><br />
                <input type="password" placeholder="密碼" class="input" style="margin-top: 10px" /><br />
                <input type="password" placeholder="密碼" class="input" style="margin-top: 10px" /><br />
                <button class="okButton" style="margin-top: 30px; width: 9vw; height: 2.4vw; ">註 冊</button>
            </form>
        </div>

        <div id="signUp_button" class="buttonForm">
            <button class="rainbow-button" id="signIn" alt="登 入"></button>
        </div>

        <div id="signIn_form" class="textForm" style="visibility: hidden;left: 53%;">
            <!-- 登入 -->
            <h2>登 入</h2>
            <form action="#" class="form" id="form1">
                <input type="email" placeholder="Email" class="input" style="margin-top: 10px" />
                <input type="password" placeholder="密碼" class="input" style="margin-top: 10px" /><br />
                <a href="#" class="link">忘記密碼</a><br />
                <button class="okButton" style="margin-top: 30px; width: 9vw; height: 2.4vw;">登 入</button>
            </form>
        </div>

        <div id="signIn_button" class="buttonForm" style="visibility: hidden;left: 23%; ">
            <button class="rainbow-button" style="color: #0cc78c" id="signUp" alt="註 冊"></button>
        </div>

    </body>
}
<script>

    signIn.onclick = function () {
        document.getElementById('signUp_form').style.visibility = 'hidden';
        document.getElementById('signUp_button').style.visibility = 'hidden';
        document.getElementById('signIn_form').style.visibility = 'visible';
        document.getElementById('signIn_button').style.visibility = 'visible';
    };

    signUp.onclick = function () {
        document.getElementById('signUp_form').style.visibility = 'visible';
        document.getElementById('signUp_button').style.visibility = 'visible';
        document.getElementById('signIn_form').style.visibility = 'hidden';
        document.getElementById('signIn_button').style.visibility = 'hidden';
    };

    (function (w, $) {
        'use strict';
        var changePassword = $('#changePassword'),//變更密碼 a tag
            $form = $('form#LoginForm'), //Form
            validator = $form.data().kendoSpeedValidator;


        // ******** 卡片切換 ********
        $('#signIn').on('click', function (e) {
            $('#signUp_form').css("display", "none")
            $('#signUp_button').css("display", "none")
            $('#signIn_form').css("display", "display")
            $('#signIn_button').css("display", "display")
        });

        // ******** "登入"button click ********
        $('#btnUserLogin').on('click', function (e) {
            //修正會submit兩次的問題
            e.preventDefault();
            //表單驗證
            if (!validator.validate()) {
                return;
            }
            $form.attr('action', $('#loginUrl').val());
            $form.submit();
        });

        // ********** 變更密碼 **********
        changePassword.on('click', function (e) {
            //表單驗證
            if (!validator.validate()) {
                return;
            }
            var action = changePassword.attr('data-speed-url'),
                condition = $form.serializeFormJSON();
            $.post(action, condition)
                .done(function (data) {
                    if (data) {
                        // url要帶入原本的queryString以支援redirect
                        $form.attr('action', $('#changePasswordUrl').val() + w.location.search);
                        $form.submit();
                    }
                })
                .fail(function (data) {
                    $('#errorMessage').text(data.responseJSON.Message);
                });
        });

    })
</script>
