@model PetManagement.ViewModels.USERINFO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>會員資料</b></h2>
<link href="~/Content/UserStyle.css" rel="stylesheet" />
<div class="member-card">
    <img class="logo" src="@Model.USER_IMG" />
    <h4>@Model.USER_NAME</h4>
</div>

@*<div class="member-card">
    <img class="shadow" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <img class="logo" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <h4>Bentley's Restaurant</h4>
</div>

<div class="member-card">
    <img class="shadow" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <img class="logo" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <h4>Bentley's Restaurant</h4>
</div>

<div class="member-card">
    <img class="shadow" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <img class="logo" src="https://static.whirlocal.io/uploads/2019/06/profile-300x300.jpg" />
    <h4>Bentley's Restaurant</h4>
</div>*@

<svg width="0" height="0" viewBox="0 0 340 335">
    <defs>
        <clipPath id="sleeve" transform="scale(.002941, .002985)" clipPathUnits="objectBoundingBox">
            <path d="M14.3,100.6C6.4,103,0,111.8,0,120v200c0,8.3,6.8,15,15,15h310c8.3,0,15-6.8,15-15V15c0-8.3-6.4-13-14.3-10.6L14.3,100.6z" />
        </clipPath>
    </defs>
</svg>

